.menu, li{
    list-style: none;
    display: inline-block;
    font: bold 14px verdana;
    border: solid;
    padding: 10px 20px;
    margin: 5px;
}

.cabecera h1, h6{
    text-align: left;
}

.menu{
    background: rgb(235, 176, 74);
    text-align: left;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    background-color: gray;
}

.agrupar{
    border: 1px solid black;
    background: #fffab0;
    width: 900px;
    margin: 20px auto;
}

.cabecera{
    background: rgb(235, 176, 74);
    border: 1px solid #999999;
    padding: 20px;
}

.seccion{
    float: left;
    width: 600px;
    margin: 10px;
}

article{
    background: #fffbcc;
    border: 5px double rgb(136, 78, 27);
    margin-bottom: 15px;
    padding: 20px;
}

time{
    color: rgb(150, 181, 26);
}

article footer{
    text-align: right;
}

#idreferencias{
    width: 250px;
    float: right;
    margin: 20px 0px;
    margin-right: 20px;
}

.pie{
    clear: both;
}

#idreferencias blockquote{
    border: 1px solid black;
    padding: 10px;
    background: rgb(235, 176, 74);
    margin-bottom: 5px;
}

img{
    width: 440px;
    height: 270px;
    margin: 20px auto;
}