body {
    background: #59ABE3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.formulario-general {
    display: grid;
}

.form {
    width: 340px;
    height: 450px;
    background: #e6e6e6;
    border-radius: 8px;
    padding: 20px 30px;
    font-family: monospace;
    box-shadow: 0px 0px 40px -5px #000;
}

h2 {
    margin: 10px 0px;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

p:before {
    content: attr(type);
    display: block;
    margin: 5px 2px;
    font-size: 16px;
    color: #5a5a5a;
}

input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #bebed2;
    background: none;
}

input:focus {
    border-bottom: 3px solid #78788c;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #78788c;
    border-radius: 5px;
}

h1 {
    text-align: center;
}